apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kubernetes_certificate_authority_data | b64encode }}
    server: {{ kubernetes_server }}
  name: {{ kubernetes_environment }}
contexts:
- context:
    cluster: {{ kubernetes_environment }}
{% if kubernetes_namespace %}namespace: {{ kubernetes_namespace }}{% endif %}
    user: {{ kubernetes_user }}/{{ kubernetes_environment}}
  name: {{ kubernetes_user }}/{{ kubernetes_environment}}
current-context: {{ kubernetes_user }}/{{ kubernetes_environment}}
kind: Config
preferences: {}
users:
- name: {{ kubernetes_user }}/{{ kubernetes_environment }}
  user:
    client-certificate-data: {{ kubernetes_client_certificate_data | b64encode }}
    client-key-data: {{ kubernetes_client_key_data | b64encode }}
